@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-MediumItalic;
  src: url(../fonts/Poppins-MediumItalic.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Thin;
  src: url(../fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: CircularStd-Medium;
  src: url(../fonts/CircularStd-Medium.woff);
}
@font-face {
  font-family: CircularStd-Black;
  src: url(../fonts/CircularStd-Black.woff);
}
@font-face {
  font-family: CircularStd-Book;
  src: url(../fonts/CircularStd-Book.woff);
}
@font-face {
  font-family: CircularStd-Bold;
  src: url(../fonts/CircularStd-Bold.woff);
}


/*  */
@font-face {
  src: url("../fonts/Matter-Light.ttf");
  font-family: "Matter-Light";
}

@font-face {
  src: url("../fonts/Matter-Regular.ttf");
  font-family: "Matter-Regular";
}

@font-face {
  src: url("../fonts/Faro-LightLucky.ttf");
  font-family: "Farro-Light";
}

@font-face {
  src: url("../fonts/Faro-RegularLucky.ttf");
  font-family: "Farro-Regular";
}

@font-face {
  src: url("../fonts/Faro-SemiBoldLucky.ttf");
  font-family: "Farro-Medium";
}

@font-face {
  src: url("../fonts/Faro-SemiBoldLucky.ttf");
  font-family: "Farro-SemiBoldLucky";
}

@font-face {
  src: url("../fonts/Faro-BoldLucky.ttf");
  font-family: "Farro-Bold";
}